@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* background-color: #242424; */
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{box-sizing: border-box; padding: 0; margin: 0;borde:none; outline:none}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  align-items:center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


.qrContainer{
  /* width: 100%; */
  /* padding: 2rem;
  background-color: white; */
  /* border: solid 1px red; */
}

#registerBox{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* border: solid 1px red; */
}

/* input{
  color: black;
  background-color: white;
  border: none;
  outline: none;
  border: solid 1px black;
} */

form{
  text-align: left;
}
